@font-face {
  font-family: 'Messina Sans Black';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Black'), url('/guide/fonts/MessinaSansWebTrial-Black.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Black Italic'), url('/guide/fonts/MessinaSansWebTrial-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Bold'), url('/guide/fonts/MessinaSansWebTrial-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Bold Italic'), url('/guide/fonts/MessinaSansWebTrial-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Book';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Book'), url('/guide/fonts/MessinaSansWebTrial-Book.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Book Italic'), url('/guide/fonts/MessinaSansWebTrial-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Bold'), url('/guide/fonts/MessinaSansWebTrial-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Light Italic'), url('/guide/fonts/MessinaSansWebTrial-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Regular'), url('/guide/fonts/MessinaSansWebTrial-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Regular Italic'), url('/guide/fonts/MessinaSansWebTrial-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Semi Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Semi Bold'), url('/guide/fonts/MessinaSansWebTrial-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Messina Sans Semi Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Messina Sans Semi Bold Italic'), url('/guide/fonts/MessinaSansWebTrial-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), url('/guide/fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book Italic'), url('/guide/fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium'), url('/guide/fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium Italic'), url('/guide/fonts/CircularStd-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold'), url('/guide/fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold Italic'), url('/guide/fonts/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'), url('/guide/fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black Italic'), url('/guide/fonts/CircularStd-BlackItalic.woff') format('woff');
}

h1 {
  font-family: 'Messina Sans Black', 'Circular Std Black';
}
h2, .sidebar-heading {
  font-family: 'Messina Sans Bold', 'Circular Std Bold';
}
#app .navbar .site-name {
  font-family: 'Messina Sans Book', 'Circular Std Book';
  font-weight: normal;
}

.home .hero {
  padding: 50px 0;
}
